/*css reset start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
content: '';
content: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
/*css reset end*/


/*alright for real now ... */
html {
	height:100%;
	width:100%;
}

body {
	height:100%;
	width:100%;
	font-family:"Arial",sans-serif;
}

/*UI HELPERS*/
.wrapper {
	text-align:center;
}

.button {
	display:inline-block;
	min-width:75px;
	padding:3px;
}

.buttonPrimary {
	background:red;
}

.highlight {
	-moz-box-shadow: 0 0 5px yellow;
	-webkit-box-shadow: 0 0 5px yellow;
	box-shadow: 0px 0px 5px yellow;
}

/*CARD PLAY AREAS*/

.board {
	background:#eeeeee;
	height:95%;
	width:95%;
	/*max-width:1024px;*/
	/*max-height:768px;*/
	margin: 0 auto;
	padding:10px;
}

#console {
	padding:10px;
	position:absolute;
	bottom:0px;
	left:0px;
	opacity: .3;
	background:#fff;
}

#library {
	background:#ffffff;
	width:90%;
	margin: 0 auto;
	display:inline-block;
}

#library.stack .card {
	margin:0px;
}

#library #libraryDeckHere.card {
	float:left;
	margin-left:100px;
	margin-top:5px;
}
#libraryBuyable {
	text-align:left;
}

#playerArea {
	width:90%;
	margin: 0 auto;
	background:#fff;
}

#playerPlayed {
	display:inline-block;
	width:65%;
}

#playerDraw {
	position:absolute;
	width:100%;
	height:100px;
	bottom:0px;
}

#playerStats {
	font-size:2em;
	text-align:center;
	margin-bottom:20px;
}
#playerStats span {
	font-size: .5em;
	display:inline-block;
	padding:5px;
}
#playerStats span span {
	font-size: 2em;
	display:block;
}

/*OBJECTS*/
.stack {
	display:inline-block;
}

/*cards*/
.card {
	position:relative;
	/* playing cards are 2.5in x 3.5in */
	height:170px; /*todo let content determine this*/
	width:121px;
	background:#fff;
	display:inline-block;
	border: 1px solid #666;
	border-radius: 7px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
}

.cardTop {
	position:relative;
	color:#000;
	border-bottom:#867b78;
	height:15px;
}
.cardCost {
	position:absolute;
	top:7px;
	right:10px;
	z-index:5;
}
.cardCost:after {
	content:'';
	position:absolute;
	right:-5px;
	top:-2px;
	width:20px;
	height:20px;
	background:#ffd473;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	z-index:-1;
}

#mutationsHere .cardTop {
	background:red;
}

#smallVictoryHere .cardTop, #bigVictoryHere .cardTop {
	background:yellow;
}

#basicBodiesHere .cardTop {
	background:orange;
}

#upgradeHere .cardTop, #headHere .cardTop {
	background:green;
}

.cardArt {
	height:80px;
	width:100%;
	background-color: #666;
}

.cardBody {
	position:relative;
	width:100%;

}
.cardsTitle, .cardsType, .cardsText, .cardsColor {
	font-size: .7em;
}
.cardsTitle {
	position:absolute;
	left:0px;
}
.cardsType {
	position:absolute;
	right:0px;
}
.cardsText {
	text-align: left;
	padding: 15px 5px 0 5px;
}
.cardsColor {
	position:absolute;
	bottom:0px;
	left:0px;
}
.cardsPoints {
	position:absolute;
	bottom:0px;
	right:0px;
}

.stackCount {
	position:absolute;
	bottom:-15px;
	width:100%;
}

.upgrade {
	background:red;
}

.head {
	background:blue;
}